* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Nav Bar */

nav {
    background-color: #EEF5F7;
    padding: 20px;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
}


.nav--title {
    color: #333;
    font-weight: 600;
    margin-right: auto;
    z-index: 10;
}

.nav--menu {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-right: 40px;
    color: #333;
}

.nav--menu > li {
    padding-left: 60px;
}

.nav--menu > li > a {
    display: block;
    text-decoration: none;
    color: #333;
    border: 3px solid transparent;
}

.nav--menu > li > a:hover, .hamburger--item > a:hover {
    border-bottom: 2px solid #333;
    border-radius: 2px;
    text-decoration: none; 
    
}

.nav--menu > li > a:active {
    background-color: #333;
    color: white;
}

.nav--menu > li > a:focus {
    background-color: #333;
    color: white;
    border-bottom: 2px solid transparent;
}

nav > button {
    position: relative;
    margin-left: auto;
    z-index: 10;
    cursor: pointer;
    background: transparent;;
    border: none;
}

.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: #EEF5F7;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 310px;
    z-index: 9;
}

.menuNav.showMenu {
    width: 100%;
}

.menuNav li:first-child {
    margin-top: 7rem;
}

.hamburger--item {
    width: fit-content;
}


.hamburger--item > a {
    display: block;
    margin: 15px 40px;
    text-decoration: dashed;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid transparent;
}

@media screen and (min-width: 849px) {
    nav > button {
        display: none;
    }

}

@media screen and (max-width: 850px) {
    .nav--menu {
        display: none;
    }

    .hidden {
        display: none;
    }
}


.home--imgcontainer {
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.home--locations {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    align-content: center;
    color: #9C9B9B;
}

.home--locations > li {
    display: flex;
    margin: 0 4%;
    align-items: center;    
}


.home--img {
    border-radius: 50%;
    width: 18%;
    height: 20%;
}

.home--img--rotate {
    border-radius: 50%;
    width: 18%;
    height: 20%;
    animation: rotate-keyframes 1.5s;
}

@keyframes rotate-keyframes {
    from {
     transform: rotateY(0deg);
    }
   
    to {
     transform: rotateY(360deg);
    }
}

.bio {
    text-align: center;
    margin: 3% 13%;
}

.bio > p {
    line-height: 1.7;
    margin-top: 3%;
}

.bio > p > a {
    text-decoration: underline;
    color: black;
}


.footer {
    text-align: center;
    margin-bottom: 20px;
}

.footer > a > i {
    color: #333;
}

.fa-github:hover {
    color: #6e5494;
}

.fa-linkedin:hover {
    color: #0072b1;
}

.fa-envelope:hover {
    color: #5C4033;
}

.fa-youtube:hover {
    color: #FF0000
}

.fa-download:hover {
    color: darkseagreen;
}


.work {
    font-family: "Inter", sans-serif;
}

.work--head, .projects--head {
    width: 100%;
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0.5em;
    padding-top: 1.2em;
    font-weight: normal;
}

.cards, .projects {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 1.5em;
    justify-content: center;
}

.card {
    margin: 3% 12%;
    display: flex;
    max-width: 650px;
    max-height: 200px;
    margin-bottom: 50px;
}

@media screen and (max-width: 850px) {
    .card {
      flex-wrap: wrap;
      width: fit-content;
      height: fit-content;
      max-height: none;
      justify-content: center;
    }
}


.card > img {
    max-height: 200px;
    max-width: auto;
}

.card--header {
    display: flex;
    align-items: center;
}

.card--links > a {
    text-decoration: none;
    color: #333;
    border: 2px solid transparent;
}


.card--links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
}


.seemore:hover {
    border-bottom: 2px solid #333;
    border-radius: 2px;
    text-decoration: none; 
    
}

.card--header > a:active {
    background-color: #333;
    color: white;
}

.card--info {
    text-align: left;
    padding-left: 1em;
    padding-top: .75em;
    margin-left: 7px;
    padding-bottom: .75em;
    width: 100%;
    background-color: #EEF5F7;
    border-radius: 10%;
    overflow: scroll;
    /* min-width: 250px; */

}

.card--info > h2 {
    font-size: 20px;
    font-weight: 300;
}

.card--info > h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: 600;
    width: fit-content;
}

.card--info > p > li {
    font-size: 15px;
    list-style-type: disc;
    list-style-position:outside;
    text-indent: -1.35em;
    padding-left: 1em;
}






